<h2>Inventory List</h2>

<a href="/add/">Add Product</a>
<br><br>

<table border="1" cellpadding="10">
  <tr>
    <th>Product Name</th>
    <th>Current Stock</th>
    <th>Unit</th>
    <th>Update Stock</th>
  </tr>

  {% for item in inventory %}
  <tr>
    <td>{{ item.product.name }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.product.unit }}</td>
    <td>
      <form method="post" action="/update/{{ item.product.id }}/">
        {% csrf_token %}
        <input type="number" step="0.1" name="quantity" required>
        <select name="action">
          <option value="IN">IN</option>
          <option value="OUT">OUT</option>
        </select>
        <button type="submit">Update</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
